---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		'text-sm font-medium no-underline transition-colors',
		isActive ? 'text-foreground font-semibold' : 'text-muted-foreground hover:text-foreground',
		className,
	]}
	{...props}
>
	<slot />
</a>
